@using WebAppECommerce.Models
@model Student

@{
    var name = "Koko";
    var age = 20;
    var date = DateTime.Now;
}

<p>Name: @name</p>
<p>Age: @age</p>
<p>Date: @DateTime.Now.ToLongDateString()</p>